@import "../scss/base";
// modes
@each $mode in correct, incorrect, incomplete {
    $c: map-get($worksheet-colors, $mode);

    .#{$mode} {
        color: $c;

        input[type="text"] {
            color: $c;
        }
    }
}

.fraction {
    input[type=text] {
        // border-radius: 5px;
        border-radius: $border-radius-lg;
    }
}
