// $font-size: 12px;
@import "../scss/variables";

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &.primary {
    color: white;
    background-color: #1ea7fd;
  }
  &.secondary {
    color: #ccc;
    background-color: transparent;
    box-shadow: rgba(200, 200, 200, 0.15) 0px 0px 0px 1px inset;
  }
  &.small {
    font-size: $font-size;
    padding: 10px 16px;
  }
  &.medium {
    font-size: $font-size * 1.05;
    padding: 11px 20px;
  }
  &.large {
    font-size: $font-size * 1.25;
    padding: 12px 24px;
  }

  svg {
    vertical-align: text-top;
  }
}
