// $font-size: 12px;
@import "../../lib/scss/base";

/// How much to lighten a button's color and background color when cursor is
/// hovering over it.
$hover-lighten: 10%;

/// Sets color settings for a button
@mixin make-button-variant(
  $bg-color,
  $color: $white,
  $bg-color-hover: lighten($bg-color, $hover-lighten),
  $color-hover: lighten($color, $hover-lighten)
) {
  background-color: $bg-color;
  color: $color;
  transition: $btn-transition;

  &:hover {
    background-color: $bg-color-hover;
    color: $color-hover;
    transition: $btn-transition;
  }
}

.button {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-bold;
  line-height: 1;

  &.primary {
    @include make-button-variant($primary, $white);
  }

  &.secondary {
    @include make-button-variant(transparent, $white);
    border: $border-width solid $white;
    box-shadow: rgba($white, 0.15) 0 0 10px 2px inset;
    &:hover {
      box-shadow: rgba($white, 0.25) 0 0 15px 7px inset;
    }
  }

  &.small {
    font-size: $font-size;
    padding: 10px 16px;
  }

  &.medium {
    font-size: $font-size * 1.05;
    padding: 11px 20px;
  }

  &.large {
    font-size: $font-size * 1.25;
    padding: 12px 24px;
  }

  svg {
    vertical-align: bottom;
  }
}

.button-group {
  .button:not(:last-child) {
    margin-right: $spacer;
  }

  &.centered {
    text-align: center;
  }
}
