// $font-size: 12px;
@import "../scss/base";

.button {
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  // font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: $font-weight-bold;
  line-height: 1;

  &.primary {
    // background-color: #1ea7fd;
    background-color: $primary;
    color: $white;
  }

  &.secondary {
    background-color: transparent;
    border: $border-width solid $white;
    box-shadow: rgba($white, 0.15) 0 0 0 1px inset;
    color: $white;
  }

  &.small {
    font-size: $font-size;
    padding: 10px 16px;
  }

  &.medium {
    font-size: $font-size * 1.05;
    padding: 11px 20px;
  }

  &.large {
    font-size: $font-size * 1.25;
    padding: 12px 24px;
  }

  svg {
    vertical-align: bottom;
  }
}

.button-group {
  .button:not(:last-child) {
    margin-right: $spacer;
  }

  &.centered {
    text-align: center;
  }
}
