// @import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// @mixin full-height {

// }

@mixin frac-container {
  display: inline-flex;
  font-family: $question-font-family;
  justify-content: center;
}
