// @import "variables";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

@mixin full-height {

}

@mixin frac-container {
    display: inline-flex;
    justify-content: center;
    font-family: $question-font-family;
}
