////
/// Contains variable declarations that configure the style of the entire
/// application.
///
/// Helpful resources
/// - Flexbox cheat sheet: @link https://css-tricks.com/snippets/css/a-guide-to-flexbox/
/// - Bootstrap variables: @link https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
////

// fonts

$font-size: 14px;
$font-family: -apple-system, system-ui, "Nunito Sans", "Roboto", "Oxygen", "Helvetica Neue", helvetica, arial,
  sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New", courier, monospace;

// theme overrides
$dark: #282c34;

// =============================================================================
// ============================== WORKSHEET ====================================
// =============================================================================

/// @group Worksheet
$question-font-family: $font-family-code;
/// @group Worksheet
$worksheet-colors: (
  "correct": #0b3,
  "incorrect": #f30,
  "incomplete": #666,
);

/// scale factor for question font size inside worksheet grid
/// @group Worksheet
$grid-font-scale: 1.25;

// =============================================================================
// ============================== FRACTIONS ====================================
// =============================================================================

/// thickness of the bar separating the numerator and denominator
/// @group Fraction
$frac-bar-width: 2px;

/// number of additional pixels the bar should extend past the numerator and denominator
/// @group Fraction
$bar-overhang: 2px;

/// size of gap between negative sign and the fraction body
/// @group Fraction
$frac-sign-space: 2px;

/// line height to use to span the entire fraction from top to bottom
/// @group Fraction
$frac-height: 300%;

/// space between the fraction body and the parenthesis
/// @group Fraction
$frac-margin: 3px;
