@import "../../../../../lib/scss/base";

// create a class for each mode
@each $mode in correct, incorrect, incomplete {
  // color for the current mode
  $c: map-get($worksheet-colors, $mode);

  .#{$mode} {
    color: $c;

    input[type="text"] {
      color: $c;
    }
  }
}

.fraction {
  input[type=text] {
    // border-radius: 5px;
    border-radius: $border-radius-lg;
    text-align: center;
  }
}
