@import "../../../lib/scss/variables";
header {
  text-align: center;

  menu {
    padding: 0;

    & > [role="menuitem"] {
      margin-bottom: $spacer;
      &:not(:first-child) {
        margin-left: $spacer;
      }
    }
  }
}
