@import "../scss/base";
@import "../button/Button";

/// Root modal element. Grays out the page behind it.
.modal {
  background-color: rgba($gray-900, 0.6);
  bottom: 0;
  display: flex;
  font-size: $font-size;
  height: 100vh;
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: $zindex-modal;

  /// Displays title and close button
  .modal-header {
    display: flex;
    flex-direction: column;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
    }

    // Control buttons inside modal header
    .modal-controls {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      & > * {
        font-size: 1.25 * $font-size-lg;
        font-weight: $font-weight-bold;
      }

      // Close button
      .close {
        @include make-button-variant(transparent, $danger);
        background-color: transparent;
        border: hidden;
        color: $danger;
        cursor: pointer;
        position: relative;
        padding: 0;
        right: 0;
      }
      svg {
        stroke-width: 2px;
      }
    }

    .modal-title {
      > * {
        margin-top: 0;
      }

      .title {
        font-size: 2em;
      }
    }
  }

  /// Where child components are placed
  .modal-body {
    background-color: $dark;
    border-color: $border-color;
    border-radius: $border-radius-lg;
    box-shadow: 7px 7px 20px 5px $black;
    height: auto;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    padding: map-get($spacers, 4);
    position: relative;
    width: 32rem;
  }
}
