@import "../../scss/_base.scss";

.worksheet {
  // display: flex;

  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  margin: auto;
  padding: 1em;
  overflow: hidden;
  text-align: center;

  & > .row {
    justify-content: center;

    // question cell
    & > * {
      overflow: hidden;
      // justify-content: center;
      max-width: 100%;
    }
  }

  .buttons {
    button:not(:last-child) {
      margin-right: $spacer;
    }
  }
}

.grid {
  // columns: 3;
  font-family: $question-font-family;
  column-gap: 0;
  margin: auto;
  margin-bottom: $spacer;
  padding: 0;
  list-style-position: inside;
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  font-size: $grid-font-scale * $font-size-lg;

  & > li,
  & > div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid;
    padding-top: map-get($spacers, 2);
    // padding: 0.5em 4em 4em 0.5em;

    .question-number {
      margin-right: map-get($spacers, 1);
      box-sizing: border-box;
    }
    .question-wrapper {
      display: inline-block;
      box-sizing: border-box;
      padding: map-get($spacers, 2) map-get($spacers, 5) map-get($spacers, 5) map-get($spacers, 2);

      input[type="text"] {
        max-width: 3 * map-get($spacers, 5);
      }
    }
  }
}
