@import "../scss/variables";
@import "../scss/util";

.question {
  @include frac-container;

  .operation {
    line-height: $frac-height;
  }

  input[type=text] {
    overflow-x: hidden;
  }

  svg {
    vertical-align: text-top;
  }
}
