@import "../scss/_variables.scss";

.page {
  // columns: 3;
  font-family: $question-font-family;
  column-gap: 0;
  margin: auto;
  padding: 0;
  list-style-position: inside;
  text-align: left;
  max-width: 100%;
  overflow: hidden;

  & > li, & > div {
    // display: inline-block;
    // display: list-item;
    // margin-right: 1em;
    box-sizing: border-box;
    border: 1px solid;
    padding: 0.5em 4em 4em 0.5em;

    & > span {
      display: inline-block;
    }
  }
}
