ol.page,
ul.page {
  columns: 3;
  margin: auto;
  padding: auto;
  list-style-position: inside;
  text-align: left;

  & > li {
    // display: inline-block;
    display: list-item;
    margin-right: 1em;
  }
}
